
{% extends "base.html" %}
{% load static %}

{% block title %}
    About Us
{% endblock title %}
    

{% block content %}
<div class="container mt-4">
    <div class="about-section">
      <div class="text-center">
        <h1>Welcome to <strong>Our Resturant</strong></h1>
        <h2>Your Ultimate Destination for Comfort and Luxury</h2>
      </div>
      <div class="about-content">
        <p><strong>About Us</strong></p>
        <p>Welcome to the website of the "Lahore Foods" restaurant in the heart of Lahore.</p>
        <p>Whether you're here for business or pleasure, our dedicated team ensures that your stay is nothing short of extraordinary.</p>
        
        <p><strong>Our Values</strong></p>
        <ul>
          <li>Customer satisfaction is our top priority.</li>
          <li>We value integrity, respect, and teamwork in all our interactions.</li>
          <li>Continuous improvement and innovation drive our success.</li>
        </ul>
        <p><strong>Our Facilities</strong></p>
        <p>Our restaurant offers a wide range of local food and services to ensure a memorable stay for our guests.</p>
        <ul>
          <li>Luxurious dining with modern amenities</li>
          <li>On-site restaurants serving delicious cuisine</li>
          <li>Outdoor dining </li>
          <li>Meeting and event spaces for business or social gatherings</li>
        </ul>
        <p><strong>Our Location & Timing</strong></p>
        <p>Address: Lahore Street Food near to Railway Station </p>
                <p>Timing:  Tuesday To Sunday <br>   2pm To 11pm  </p>
      </div>
      </div>
    </div>
  </div>
    
{% endblock content %}
    