
{% extends "base.html" %}
{% load static %}

{% block title %}
    About Us
{% endblock title %}
    

{% block content %}
<div class="container mt-4">
    <div class="about-section">
      <div class="text-center">
        <h1>Welcome to <strong>Our Hotel</strong></h1>
        <h2>Your Ultimate Destination for Comfort and Luxury</h2>
      </div>
      <div class="about-content">
        <p><strong>About Us</strong></p>
        <p>Welcome to our hotel, where hospitality meets comfort. Nestled in the heart of [City Name], our hotel offers a luxurious retreat for travelers seeking relaxation and rejuvenation.</p>
        <p>Whether you're here for business or pleasure, our dedicated team ensures that your stay is nothing short of extraordinary. From elegant accommodations to top-notch amenities, we strive to exceed your expectations at every turn.</p>
        <p><em>Our Mission</em></p>
        <p>At our hotel, we are committed to providing exceptional service and creating memorable experiences for our guests. We aim to be the preferred choice for travelers seeking a perfect blend of comfort, convenience, and luxury.</p>
        <p><strong>Our Values</strong></p>
        <ul>
          <li>Customer satisfaction is our top priority.</li>
          <li>We uphold the highest standards of hospitality and professionalism.</li>
          <li>We value integrity, respect, and teamwork in all our interactions.</li>
          <li>Continuous improvement and innovation drive our success.</li>
        </ul>
        <p><strong>Our Facilities</strong></p>
        <p>Our hotel offers a wide range of facilities and services to ensure a memorable stay for our guests:</p>
        <ul>
          <li>Luxurious accommodations with modern amenities</li>
          <li>On-site restaurants serving delicious cuisine</li>
          <li>State-of-the-art fitness center and spa</li>
          <li>Outdoor pool and sun terrace with stunning views</li>
          <li>Meeting and event spaces for business or social gatherings</li>
          <li>24-hour concierge and room service</li>
        </ul>
        <p><strong>Meet Our Team</strong></p>
        <div class="row">
          <div class="col-md-4">
            <div class="text-center">
              <img style="width: 100px; height: 100px;" src="https://scontent.fisb6-1.fna.fbcdn.net/v/t39.30808-6/406256738_1408983239830440_5403573641763164627_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=efb6e6&_nc_eui2=AeFrwuITWq4V1iX-fsE3yL9vfZ7Udo4wmxx9ntR2jjCbHMZhFFvDXsA9frvwP4QIJ2fg0xgkjnpxd1U_6TFtqnMS&_nc_ohc=2qqHFuYSddsAX_siK6p&_nc_ht=scontent.fisb6-1.fna&oh=00_AfAA-V3KY_H3qqyiGvXRNCeqY3NVApvG1r9PY1UKLVAYfQ&oe=65DCC90D" alt="Team Member" class="img-fluid rounded-circle mb-3">
              <h3>John Doe</h3>
              <p>General Manager</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="text-center">
              <img style="width: 100px; height: 100px;" src="https://scontent.fisb6-1.fna.fbcdn.net/v/t39.30808-6/406256738_1408983239830440_5403573641763164627_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=efb6e6&_nc_eui2=AeFrwuITWq4V1iX-fsE3yL9vfZ7Udo4wmxx9ntR2jjCbHMZhFFvDXsA9frvwP4QIJ2fg0xgkjnpxd1U_6TFtqnMS&_nc_ohc=2qqHFuYSddsAX_siK6p&_nc_ht=scontent.fisb6-1.fna&oh=00_AfAA-V3KY_H3qqyiGvXRNCeqY3NVApvG1r9PY1UKLVAYfQ&oe=65DCC90D" alt="Team Member" class="img-fluid rounded-circle mb-3">
              <h3>Jane Smith</h3>
              <p>Director of Hospitality</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="text-center">
              <img style="width: 100px; height: 100px;" src="https://scontent.fisb6-1.fna.fbcdn.net/v/t39.30808-6/406256738_1408983239830440_5403573641763164627_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=efb6e6&_nc_eui2=AeFrwuITWq4V1iX-fsE3yL9vfZ7Udo4wmxx9ntR2jjCbHMZhFFvDXsA9frvwP4QIJ2fg0xgkjnpxd1U_6TFtqnMS&_nc_ohc=2qqHFuYSddsAX_siK6p&_nc_ht=scontent.fisb6-1.fna&oh=00_AfAA-V3KY_H3qqyiGvXRNCeqY3NVApvG1r9PY1UKLVAYfQ&oe=65DCC90D" alt="Team Member" class="img-fluid rounded-circle mb-3">
              <h3>David Johnson</h3>
              <p>Head Chef</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    
{% endblock content %}
    