{% url 'home' as home_url %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <!-- Header -->
    <header>
        <a href="index.html">
            <h1 id="logo">Lahore Foods</h1>
        </a>
        <input type="checkbox" id="nav-toggle" name="nav-toggle">
        <label for="nav-toggle" class="nav-toggle-label">
            <i class="fa-solid fa-bars"></i>
        </label>
            <nav>
                <ul id="menu">
                    <li>
                        <a href="{% url 'home' %}">Home</a>
                    </li>
                    <li>
                        <a href="{% url 'menu' %}" >Menu</a>
                    </li>
                    <li>
                        <a href="{% url 'gallery' %}">Gallery</a>
                    </li>
                    <li>
                        <a href="{% url 'aboutus' %}" class="active">About Us</a>
                    </li>
                    <li>
                        <a href="{% url 'signup' %}">Sign up</a>
                    </li>
                    <li>
                        <a href="{% url 'reservation' %}">Reservation</a>
                    </li>
                </ul>
            </nav>
        
    </header>

    <!-- Main content -->
    <main>
        <section>
            <li>
                <div class="location"> 
                <h2><i class="fa-solid fa-location-dot"></i> Location </h2>
                <br>
                <h3>  Puderbach Hauptstrasse 12, <br> City Koblenz 56068, Germany  </h3 >
                </div>
                
                <div class="time">
                <h2> Timing </h2>
                <h3> Opening Times:  Tuesday to Thursday</h3>
                <br>
                <h4>10:00 to 14:30</h4>
                <h4>16:30 to 22:30</h4> 
                <br>
                <h3> Opening Times: Friday to Sunday  </h3>
                <br>
                <h4>10:30 to 14:30</h4>
                <h4>16:30 to 23:00</h4>
                </div>
                <div class="time">
                    <h2>Contect</h2>
                    <h4> <i class="fa-regular fa-envelope"></i> Email</h4>
                    <p>lahorehotel1111@gmail.com</p>
                    <h4> <i class="fa-solid fa-phone"></i> Phn Nun</h4>
                    <p>0345879658745</p>
                </div>
        </li>
        </section>
    </main>

    <!-- Footer -->
    <footer>
        <section>
        <ul class="social-networks">
        
        <ul id="social-networks">
        <li>
            <a href="https://www.facebook.com/" target="_blank" rel="noopener"
                aria-label="Visit our Facebook page (opens in a new tab)">
                <i class="fa-brands fa-facebook"></i></a>
        </li>
        <li>
            <a href="https://www.twitter.com/" target="_blank" rel="noopener"
                aria-label="Visit our Twitter page (opens in a new tab)">
                <i class="fa-brands fa-twitter-square"></i></a>
        </li>
        <li>
            <a href="https://www.instagram.com/" target="_blank" rel="noopener"
                aria-label="Visit our Instagram page (opens in a new tab)">
                <i class="fa-brands fa-instagram"></i></a>
        </li>
    </ul>
</section>
</footer>
    <!----font awesome script----->
        <script src="https://kit.fontawesome.com/2dc8c74b0a.js" crossorigin="anonymous"></script>
</body>
</html>