{% extends "base.html" %}
{% load static %}


{% block title %}
    Drinks Menu
{% endblock title %}


{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Lahoor Drinks Menu</h1>
    <div class="row">
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
          <img src="https://img.freepik.com/premium-photo/red-alcohol-cocktail-with-orange-slice-umbrella-isolated_80510-1175.jpg?w=740" class="card-img-top" alt="Food 1">
          <div class="card-body">
            <h5 class="card-title">Delicious drink</h5>
            <p class="card-text">Juicy beef patty, fresh lettuce, tomatoes, and secret sauce.</p>
            <div class="text-warning">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
          <img src="https://img.freepik.com/premium-photo/red-alcohol-cocktail-with-orange-slice-umbrella-isolated_80510-1175.jpg?w=740" class="card-img-top" alt="Food 2">
          <div class="card-body">
            <h5 class="card-title">Sizzling drink</h5>
            <p class="card-text">Tender steak seasoned to perfection, served with mashed potatoes.</p>
            <div class="text-warning">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
          <img src="https://img.freepik.com/premium-photo/red-alcohol-cocktail-with-orange-slice-umbrella-isolated_80510-1175.jpg?w=740" class="card-img-top" alt="Food 3">
          <div class="card-body">
            <h5 class="card-title">Crunchy drink</h5>
            <p class="card-text">Fresh greens, cherry tomatoes, cucumbers, and tangy dressing.</p>
            <div class="text-warning">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
          <img src="https://img.freepik.com/premium-photo/red-alcohol-cocktail-with-orange-slice-umbrella-isolated_80510-1175.jpg?w=740" class="card-img-top" alt="Food 3">
          <div class="card-body">
            <h5 class="card-title">Crunchy drink</h5>
            <p class="card-text">Fresh greens, cherry tomatoes, cucumbers, and tangy dressing.</p>
            <div class="text-warning">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
          <img src="https://img.freepik.com/premium-photo/red-alcohol-cocktail-with-orange-slice-umbrella-isolated_80510-1175.jpg?w=740" class="card-img-top" alt="Food 3">
          <div class="card-body">
            <h5 class="card-title">Crunchy drink</h5>
            <p class="card-text">Fresh greens, cherry tomatoes, cucumbers, and tangy dressing.</p>
            <div class="text-warning">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
          <img src="https://img.freepik.com/premium-photo/red-alcohol-cocktail-with-orange-slice-umbrella-isolated_80510-1175.jpg?w=740" class="card-img-top" alt="Food 3">
          <div class="card-body">
            <h5 class="card-title">Crunchy drink</h5>
            <p class="card-text">Fresh greens, cherry tomatoes, cucumbers, and tangy dressing.</p>
            <div class="text-warning">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
    