{% extends "base.html" %}
{% load static %}


{% block title %}
    Drinks Menu
{% endblock title %}


{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Lahoor Drinks Menu</h1>
    <div class="row">
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
          <img src="https://cdn.pixabay.com/photo/2017/07/31/21/39/juice-2561339_1280.jpg" class="card-img-top" alt="Food 1">
          <div class="card-body">
            <h5 class="card-title">Delicious juice</h5>
            <p class="card-text">Strawberry juice</p>
            <div class="text-warning">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
          <img src="https://cdn.pixabay.com/photo/2014/11/06/03/27/cocktail-518712_1280.jpg" class="card-img-top" alt="Food 2">
          <div class="card-body">
            <h5 class="card-title">Mango Saft</h5>
            <p class="card-text">Saft with ice</p>
            <div class="text-warning">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
          <img src="https://cdn.pixabay.com/photo/2016/08/10/20/09/juice-1584170_1280.jpg" class="card-img-top" alt="Food 3">
          <div class="card-body">
            <h5 class="card-title">Apple Drink</h5>
            <p class="card-text">Apple Saft, Apple juice</p>
            <div class="text-warning">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
          <img src="https://cdn.pixabay.com/photo/2018/03/05/13/59/beer-3200843_1280.jpg" class="card-img-top" alt="Food 3">
          <div class="card-body">
            <h5 class="card-title">Cola drink</h5>
            <p class="card-text">Cola With ice</p>
            <div class="text-warning">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
          <img src="https://cdn.pixabay.com/photo/2019/10/01/18/49/glass-4519106_960_720.jpg" class="card-img-top" alt="Food 3">
          <div class="card-body">
            <h5 class="card-title">Sprite drink</h5>
            <p class="card-text">Sprite with ice</p>
            <div class="text-warning">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
          <img src="https://cdn.pixabay.com/photo/2021/06/05/07/21/milk-6311833_1280.jpg" class="card-img-top" alt="Food 3">
          <div class="card-body">
            <h5 class="card-title">Coffee drink</h5>
            <p class="card-text">Ice Coffee</p>
            <div class="text-warning">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
    