{% extends "base.html" %}
{% load static %}


{% block title %}
    Food Menu
{% endblock title %}


{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Lahoor Food Menu</h1>
    <div class="row">
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
          <img src="https://img.freepik.com/free-photo/tasty-burger-isolated-white-background-fresh-hamburger-fastfood-with-beef-cheese_90220-1063.jpg?w=740&t=st=1708550909~exp=1708551509~hmac=1129ab8cce6156a2b7e28f715ddd6b4b56916ec93a4429f342f8df7aabb508ca" class="card-img-top" alt="Food 1">
          <div class="card-body">
            <h5 class="card-title">Delicious Burger</h5>
            <p class="card-text">Juicy beef patty, fresh lettuce, tomatoes, and secret sauce.</p>
            <div class="text-warning">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
          <img src="https://img.freepik.com/free-photo/tasty-burger-isolated-white-background-fresh-hamburger-fastfood-with-beef-cheese_90220-1063.jpg?w=740&t=st=1708550909~exp=1708551509~hmac=1129ab8cce6156a2b7e28f715ddd6b4b56916ec93a4429f342f8df7aabb508ca" class="card-img-top" alt="Food 2">
          <div class="card-body">
            <h5 class="card-title">Sizzling Steak</h5>
            <p class="card-text">Tender steak seasoned to perfection, served with mashed potatoes.</p>
            <div class="text-warning">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
          <img src="https://img.freepik.com/free-photo/tasty-burger-isolated-white-background-fresh-hamburger-fastfood-with-beef-cheese_90220-1063.jpg?w=740&t=st=1708550909~exp=1708551509~hmac=1129ab8cce6156a2b7e28f715ddd6b4b56916ec93a4429f342f8df7aabb508ca" class="card-img-top" alt="Food 3">
          <div class="card-body">
            <h5 class="card-title">Crunchy Salad</h5>
            <p class="card-text">Fresh greens, cherry tomatoes, cucumbers, and tangy dressing.</p>
            <div class="text-warning">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
          <img src="https://img.freepik.com/free-photo/tasty-burger-isolated-white-background-fresh-hamburger-fastfood-with-beef-cheese_90220-1063.jpg?w=740&t=st=1708550909~exp=1708551509~hmac=1129ab8cce6156a2b7e28f715ddd6b4b56916ec93a4429f342f8df7aabb508ca" class="card-img-top" alt="Food 3">
          <div class="card-body">
            <h5 class="card-title">Crunchy Salad</h5>
            <p class="card-text">Fresh greens, cherry tomatoes, cucumbers, and tangy dressing.</p>
            <div class="text-warning">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
          <img src="https://img.freepik.com/free-photo/tasty-burger-isolated-white-background-fresh-hamburger-fastfood-with-beef-cheese_90220-1063.jpg?w=740&t=st=1708550909~exp=1708551509~hmac=1129ab8cce6156a2b7e28f715ddd6b4b56916ec93a4429f342f8df7aabb508ca" class="card-img-top" alt="Food 3">
          <div class="card-body">
            <h5 class="card-title">Crunchy Salad</h5>
            <p class="card-text">Fresh greens, cherry tomatoes, cucumbers, and tangy dressing.</p>
            <div class="text-warning">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
    