{% url 'home' as home_url %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <!-- Custom CSS -->
<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <!-- Header -->
    <header>
        <a href="index.html">
            <h1 id="logo">Lahore Foods</h1>
        </a>
        <input type="checkbox" id="nav-toggle" name="nav-toggle">
        <label for="nav-toggle" class="nav-toggle-label">
            <i class="fa-solid fa-bars"></i>
        </label>
            <nav>
                <ul id="menu">
                    <li>
                        <a href="index.html" class="active">Home</a>
                    </li>
                    <li>
                        <a href="menu.html">Menu</a>
                    </li>
                    <li>
                        <a href="gallery.html">Gallery</a>
                    </li>
                    <li>
                        <a href="about-us.html" class="active">About Us</a>
                    </li>
                    <li>
                        <a href="signup.html">Sign up</a>
                    </li>
                    <li>
                        <a href="reservation.html">Reservation</a>
                    </li>
                </ul>
            </nav>
        
    </header>

    <!-- Main content -->
    <main>
        <section id="hero">
            <div id="cover-text">
                <h2>Welcome To Our Resturant</h2>
                
            </div>
        </section>
    </main>

    <!-- Footer -->
    <footer>
        <section>
        <ul class="social-networks">
        
        <ul id="social-networks">
        <li>
            <a href="https://www.facebook.com/" target="_blank" rel="noopener"
                aria-label="Visit our Facebook page (opens in a new tab)">
                <i class="fa-brands fa-facebook"></i></a>
        </li>
        <li>
            <a href="https://www.twitter.com/" target="_blank" rel="noopener"
                aria-label="Visit our Twitter page (opens in a new tab)">
                <i class="fa-brands fa-twitter-square"></i></a>
        </li>
        <li>
            <a href="https://www.instagram.com/" target="_blank" rel="noopener"
                aria-label="Visit our Instagram page (opens in a new tab)">
                <i class="fa-brands fa-instagram"></i></a>
        </li>
    </ul>
</section>
</footer>
    <!----font awesome script----->
        <script src="https://kit.fontawesome.com/2dc8c74b0a.js" crossorigin="anonymous"></script>
</body>
</html>