{% extends "base.html" %}
{% load static %}


{% block title %}
    Login
{% endblock title %}
    

{% block content %}
<div class="text-center mt-5 mb-3">
    <h1>Lahoor Foods Login Form</h1>
</div>
{% if messages %}
{% for m in messages %}
<div class="message-card">
    <h4>{{m}}</h4>
</div>
{% endfor %}
{% endif %}
<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Login Here</div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" class="form-control" id="username" name="username" placeholder="Enter username" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="text-center mt-5 mb-3">
    <h1>Get Instant Support</h1>
    <h3>If you have any issue you can use the contact us form to contact us.</h3>
</div>
{% endblock content %}
    